/* CSS Code */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-content-item {
    flex: 1;
}

.contact-items {
    display: inline;
    justify-content: space-around;
}

.contact-item {
    display: flex;
    align-items: center;
    a {
        margin-left: 3px;
        margin-right: 3px;
    }
}

.contact-icon {
    margin-right: 10px; /* Adjust the margin as needed */
}

.contact-details {
    display: flex;
    flex-direction: column;
}

.contact-link {
    color: white;
    text-decoration: none;
}

.copy-button {
    color: white;
}

.social-links h3,
.footer-bottom p {
    font-size: 1.2em;
}

.social-links ul {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px !important;
    list-style: none;
}

.social-links li {
    margin: 10px;
}

.social-link {
    color: #fff;
    text-decoration: none;
}

.current-time,
.copyright {
    flex: 1;
}

.footer-bottom {
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px !important;
    list-style: none;
}

/* Add more styling as needed */
