<app-header></app-header>

<section class="about-section">
    <div class="about-container">
        <h2>About Us</h2>
        <p>
            Welcome to our website! We are a passionate team of developers dedicated to creating amazing software
            solutions.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non tincidunt mauris. Curabitur nec
            tristique
            ligula.
        </p>
        <p>
            Our mission is to deliver high-quality software that meets the needs of our clients. We leverage the latest
            technologies and best practices to create efficient and scalable solutions.
        </p>
        <p>
            Feel free to explore our website and learn more about our projects and services. If you have any questions
            or
            inquiries, please don't hesitate to contact us.
        </p>
    </div>
</section>