/* contact.component.scss */

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    margin-bottom: 15px;
    width: 100%;
}

mat-label {
    color: #333;
}

button {
    width: 100%;
}
