/* home.component.scss */

.home {
    background-color: #f8f8f8;
    // padding: 60px 20px;
    text-align: center;

    .top-content {
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("/assets/developer.jpeg");
        // background-image: url("/assets/developer.jpeg"); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    }
    .top-content {
        max-width: 100%;
        margin: 0 auto;
        padding: 1em;
        text-align: center;
        background-size: cover; /* Ensure the background image covers the entire container */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
        color: #fff; /* Set text color to white or a color that contrasts well with the background */
        padding: 60px 20px;

        h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
            color: #fff;
        }

        p {
            font-size: 1.1em;
            line-height: 1.6;
            color: #fff;
        }
    }

    .home-content {
        max-width: 800px;
        margin: 0 auto;
        padding: 1em;
        text-align: center;
        background-size: cover; /* Ensure the background image covers the entire container */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
        color: #fff; /* Set text color to white or a color that contrasts well with the background */
        padding: 60px 20px;

        h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
            color: #333;
        }

        p {
            font-size: 1.1em;
            line-height: 1.6;
            color: #666;
        }
    }
}

.carousel {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the carousel */
}

.slick-prev,
.slick-next {
    font-size: 24px;
    color: #fff; /* Arrow color */
    background-color: #2196f3; /* Arrow background color */
}

.slick-prev {
    left: -40px;
}

.slick-next {
    right: -40px;
}

/* home.component.scss */

/* Add these styles to your existing SCSS stylesheet */

.slide-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #222; /* Adjust the background color to a darker shade of black */
    border-radius: 10px; /* Add border-radius for a rounded appearance */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow */
}

.slide-content {
    text-align: center;
    margin-top: 10px;
    color: #fff; /* Set the text color to white */
}

.carousel-div {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: rgb(0 8 7 / 74%);
    color: #f0f4f4;
}

.carousel {
    // background-color: #000; /* Set the background color to matte black */
    width: 80%;
    margin: 0 auto;
}

.image-container {
    height: 100px;
    width: 80%;
    margin: auto;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin: 0 auto;
    }
}

/* Add these styles to your CSS stylesheet */

.technologies-section {
    margin-top: 40px;
}

.technologies-section h2 {
    font-size: 2em;
    color: #333; /* Dark text color */
}

.technologies-section p {
    font-size: 1.1em;
    color: #555; /* Slightly darker text color */
    margin-bottom: 20px;
}

.technology-list {
    display: flex;
    justify-content: space-around;
}

.technology-category {
    text-align: center;
}

.technology-category h3 {
    font-size: 1.5em;
    color: #009688; /* Primary color */
    margin-bottom: 10px;
}

.technology-category ul {
    list-style-type: none;
    padding: 0;
}

.technology-category li {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #333; /* Dark text color */
}

/* Adjust colors and font sizes based on your design preferences */
