/* home.component.scss */

.home {
    background-color: #f8f8f8;
    padding: 60px 20px;
    text-align: center;

    .home-content {
        max-width: 800px;
        margin: 0 auto;
        padding: 1em;

        h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
            color: #333;
        }

        p {
            font-size: 1.1em;
            line-height: 1.6;
            color: #666;
        }
    }
}

.carousel {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the carousel */
}

.slick-prev,
.slick-next {
    font-size: 24px;
    color: #fff; /* Arrow color */
    background-color: #2196f3; /* Arrow background color */
}

.slick-prev {
    left: -40px;
}

.slick-next {
    right: -40px;
}

/* home.component.scss */

.carousel {
    // background-color: #000; /* Set the background color to matte black */
    width: 80%;
    margin: 0 auto;
}

.slide-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #222; /* Adjust the background color to a darker shade of black */
}

.slide-content {
    text-align: center;
    margin-top: 10px;
    color: #fff; /* Set the text color to white */
}

.carousel-div {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: rgb(0 150 136 / 74%);
    color: #f0f4f4;
}

.image-container {
    height: 100px;
    width: 100%;
    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin: 0 auto;
    }
}
